.game{
    width: 100vw;
    height: calc(100%-47px);
    /* background: url(../../assets/background.jpg) center center/cover; */
    background-color: #008080;
    overflow: clip;
    position: relative;
    display: inline-block;
    text-align: center;

}


.window-title{
    display: flex;
    align-self: center;
    justify-content: space-between;
    user-select: none;
}

.window{
    width:auto;
    height:auto;
    padding-bottom: 1rem;
    display: inline-block;
    text-align: center;
}

.start-head{
  top: auto;
  bottom: 0px;
  align-items: center;

}

