.game{
    width: 100vw;
    height: calc(100%-47px);
    /* background: url(../../assets/background.jpg) center center/cover; */
    background-color: #008080;
    overflow: clip;
    position: relative;
    display: inline-block;
    text-align: center;

}

.close-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: -1px;
    margin-top: -1px;
    transform: rotateZ(45deg);
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: black;
    }
    &:before {
      height: 100%;
      width: 3px;
      left: 50%;
      transform: translateX(-50%);
    }
    &:after {
      height: 3px;
      width: 100%;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

.window-title{
    display: flex;
    align-self: center;
    justify-content: space-between;
    user-select: none;
}

.window{
    width:auto;
    height:auto;
    padding-bottom: 1rem;
    display: inline-block;
    text-align: center;
}

.start-head{
  top: auto;
  bottom: 0px;
  align-items: center;

}

