.shortcut{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #008080;
    border:none;
    margin: 10px 10px 10px 10px;
    user-select: none;
}



.shortcut:focus>.shortcut-icon {
    filter: brightness(45%) contrast(125%) sepia(100%) hue-rotate(195deg) saturate(900%);
}




.shortcut-icon{
    height: 48px;
    width: 48px;
    padding-bottom: 3px;
    image-rendering: pixelated;
    
}




.shortcut-text{
    width:96px;
    font-family: inherit;
    color: #ffffff;
    font-size: 12px;
    border: thin transparent dotted;
}


.shortcut:focus>.shortcut-text {
    border: thin white;
    border-style: dotted;
    background-color: #010081;
    margin:-1px,-1px,-1px,-1px;
    
}