* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif; */
	font-family: "Jokerman","Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;

}

img {
	image-rendering: pixelated;
}
