.king {
	width: 80%;
	height: 80%;
}
.queen {
	width: 80%;
	height: 88%;
}
.rook {
	width: 63%;
	height: 73%;
}
.knight {
	width: 75%;
	height: 84%;
}
.bishop {
	width: 75%;
	height: 75%;
}

.pawn {
 width: 55%;
 height: 55%;
}