.king {
	width: 80%;
	height: 80%;
}
.queen {
	width:82%;
	height:82%;
}
.rook {
	width: 63%;
	height: 73%;
}
.knight {
	width: 75%;
	height: 84%;
}
.bishop {
	width: 75%;
	height: 80%;
}

.pawn {
 width: 58%;
 height: 65%;
}